# Unity .gitignore

[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/

# MemoryCaptures
MemoryCaptures/

# Asset meta data (keep .meta files!)
!*.meta

# Visual Studio / VSCode
.vs/
.vscode/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd

# OS files
.DS_Store
Thumbs.db

# Crash reports
sysinfo.txt

# Unity cache
*.apk
*.aab
*.unitypackage

# Rider
.idea/

# Others
*.log
